{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="row">_ </div>
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-9">
                    <div class="p-3 border bg-light">
                        <BR><h1 class="text-center">Liste de stages </h1><BR><hr><BR>
                        <ul>
                            {% for stage in ressourcesStages %}
                                <div class="card-body">
                                    <div class="card-header bg-success mb-3">
                                        <a href=./stages/{{ stage.id }} class="text-white text-decoration-none"><h2> {{ stage.titre }}</h2></a>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><h6> Mail : {{ stage.email }}</li>
                                        </ul>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="p-3 border bg-light">
                        <BR><h1> Filtres </h1><BR><hr><BR>
                        <h3 class="border">Formations</h3><BR>
                        <ul>
                            {% for formation in ressourcesFormations %}
                                <li><a href=./formations/{{ formation.id }} class="text-black text-decoration-none"><h5>{{ formation.nomLong }}</h5></a></li>
                            {% endfor %}
                        </ul>
                        <BR><hr><BR><h3 class="border">Entreprises</h3><BR>
                        <ul>
                            {% for entreprise in ressourcesEntreprises %}
                                <a href=./entreprises/{{ entreprise.id }} class="text-black text-decoration-none"><h5>{{ entreprise.nom }}</h5></a>
                            {% endfor %}
                           
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>

{% endblock %}